.form__name {
    height: 27px;
    margin: 54px 0 30px;
    border: none;
    border-bottom: 1px solid #545454;
}


@media screen and (max-width: 767px) {
    .form__name {
        margin: 75px 0 30px
    }
}