.form {
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 430px;
    width: 35%;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: 195px;
    left: calc((100% - 430px) / 2);
    height: 330px;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .form {
        left: calc(50vw - 282px / 2);
        height: 322px;
        padding: 25px 22px;
        width: 282px;
    }
}

@media screen and (max-width: 767px) {
    .form {
        top: 123px;
        width: 282px;
    }
}